%div.main
  .content
    .content__top
      .headarea
        .headbutton
          .headbutton__edit
            =icon("fas","edit","編集")
          .headbutton__delete
            =icon("far","trash-alt","削除")
        .headdate 2020/08/02
      .main-title
        %h1 営業時間変更のお知らせ
    .content__bottom
      .text
        5号¥3500（+税）
        →6〜8名さま分
        6号¥4800（+税）
        →10〜12名さま分

        ※メッセージプレートは、無料でお付けできます。
        ※3日前までのご注文が必要です。
        ※ケーキは細かくカットもできますが、形が崩れることはご了承もらってください。