%div.main
  .content
    .content__top
      .headarea
        .headbutton
          .headbutton__edit
            =icon("fas","edit","編集")
          .headbutton__delete
            =icon("far","trash-alt","削除")
        .headdate 2020/03/28
      .main-title
        %h1 ホールケーキの発注
    .content__bottom
      .text
        %br 1.写真付きのホールケーキメニューをお客様に提示し、ケーキを選んでいただきます。
        %br 2.お客様が選んだケーキの「アルファベット」を確認する。
        %br 3.ホールケーキメニューの裏面が「発注書」になっているので、先ほどの「アルファベット」と照らし合わせて発注する。
        %br 
        %br ※画像のメニューは、レジ横の棚の二段目「ウエディング関係」に入っています。