%div.side-bar
  %section.CategoryMenu
    %ul.category
      %li.category__list.active
        .icon 
          =icon("fas", "bell","変更のお知らせ")
        .title
          変更のお知らせ
      %li.category__list 
        .icon 
          =icon("fas", "bell","変更のお知らせ")
        .title
          マニュアル
      %li.category__list
        .icon 
          =icon("fas", "bell","変更のお知らせ")
        .title
          時間カフェ計算
  %section.ItemMenu
    %ul.item
      %li.item__list 
        .title
          営業時間変更のお知らせ
        .date
          2020/02/28
