%div.side-bar
  %section.CategoryMenu
    %ul.category
      %li.category__list.active
        .icon 
          =icon("fas", "bell")
        .title
          変更のお知らせ
      %li.category__list 
        .icon 
          =icon("fas", "book")
        .title
          マニュアル
      %li.category__list
        .icon 
          =icon("fas", "clock")
        .title
          時間カフェ計算
  %section.ItemMenu
    %ul.item
      %li
        #title
          営業時間変更のお知らせ
        #date
          2020/02/28
      %li
        #title
          営業時間変更のお知らせ
        #date
          2020/02/28
