%div.side-bar
  %section.CategoryMenu
    %ul.category
      %li.category__list.active
        .icon 
          =icon("fas", "bell")
        .title
          最新のお知らせ
      %li.category__list 
        .icon 
          =icon("fas", "book")
        .title
          カテゴリ
          .accordion
          =icon("fas","caret-down")
      %li.category__list
        .icon 
          =icon("fas", "clock")
        .title
          = link_to('時間カフェ計算', jikancafe_index_path)
  %section.ItemMenu
    %ul.item
      %li
        #title
          = link_to('営業時間変更のお知らせ', '#')
        #date
          2020/02/28
      %li
        #title
          営業時間変更のお知らせ
        #date
          2020/02/28
