%form
  .time
  %dl
    %p
      %dt 開始時間
      %dd
        %input{:autofocus => "true", :max => "23:00", :min => "11:00", :name => "start_time", :required => "", :type => "time", :value => "11:00"}/
        %button.nowtime-start 現在時間
    %p
      %dt 終了時間
      %dd
        %input{:name => "last_time", :required => "", :type => "time", :value => "11:00"}/
        %button.nowtime-end 現在時間
  %button.calcbutton{:type => "submit"} 計算開始
  .price
    %p.adult-price 
    %p.student-price