<span class="jikan">
  <div>
  <form>
    <dl>
      <dt>開始時間</dt>
      <dd><input type="time" name="start_time" value="11:00"autofocus="true" min="11:00" max="23:00" required></dd>
      <dt>終了時間</dt>
      <dd><input type="time" name="last_time" value="15:00"required></dd>
    </dl>
    <button type="submit">計算</button>
  </form>
</span>
<span class="price">
  <p class="adult-price"></p>
</span>


<%# 学び
1. 時間の入力蘭の設置の仕方
  input type="time"

 %>