<h1 class="title"> 時間カフェ計算
<ul class="tabmenu">
  <li class="active"><a href="#1">k1</a></li>
  <li><a href="#2">k2</a></li>
  <li><a href="#3">k3</a></li>
  <li><a href="#">k4</a></li>
  <li><a href="#">k5</a></li>
  <li><a href="#">k6</a></li>
  <li><a href="#">k7</a></li>
  <li><a href="#">k8</a></li>
  <li><a href="#">k9</a></li>
  <li><a href="#">k10</a></li>
</ul>
<ul class="contents">
  <li class="content active" id="1">あああ</li>
  <li class="content" id="2">いいい</li>
  <li class="content" id="3">ううう</li>
  <li class="content" id="4"></li>
  <li class="content" id="5"></li>
  <li class="content" id="6"></li>
  <li class="content" id="7"></li>
  <li class="content" id="8"></li>
  <li class="content" id="9"></li>
  <li class="content" id="10"></li>
</ul>
<%#   
<ul class="tab">
  <li class="active"><a href="#tab1">tab1</a></li>
  <li><a href="#tab2">tab2</a></li>
  <li><a href="#tab3">tab3</a></li>
</ul>
<div class="tabContents active" id="tab1">
  11
</div>
<div class="tabContents" id="tab2">
  ２２
</div>
<div class="tabContents" id="tab3">
  33
</div> %>

<!-- %div.content
  .jikan
    .jikan--start
      %p 開始時間
    .jikan--stop
      %p 終了時間

  .price
    .price--adult

    .price--child -->

