.jikan{
  display: inline-block;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  h1{
    margin: 20px;
    font-size: 30px;
  }

  
  .active {
    background: #67c5ff;
    color: white;
  }
  
  ul.tabmenu{
    .tab-btn {
      @include bluebutton();
      width: 70px;
      color: $black;
      cursor: pointer;
      margin: 20px 10px;
      a{
        color: $gray;
        font-size: 20px;
      }
    }
  }
  ul.contents {
    margin: 20px;
    .content {
      display: none;
      form {
        dl{
          font-size: 20px;
          p{
            margin: 30px 0;
            dt {
            }
            dd {
              .nowtime-start, .nowtime-end {
                padding-left: 20px 0;
              }
            }
          }
        }
        .calcbutton{
          margin: 50px 0;
          font-size: 30px;
          width: 100%;
          @include bluebutton();
        }
      }
      .price {
        font-size: 25px;
        font-weight: bold;
        p {
          padding: 10px 0;
        }
      }
    }
    .show {
      display: block;
    }
  }
}