.side-bar {
  float: left;
  width: 600px;
  height: calc(100vh - 100px);
  .CategoryMenu{
    background-color: $G;
    color: $white;
    float: left;
    width: 250px;
    height: 100%;
    border-right: solid 3px;
    border-collapse: collapse;
    ul{
      li{
        padding: 20px 20px 0;
        .icon{
          float: left;
          @include clearfix();
          padding: 5px 10px 0 0;
        }
        .title {
          cursor: pointer;
          .accordion{
            padding: 5px 0 0 0;
            float: left;
          }
        }
      }
    }
  }
  .ItemMenu{
    background-color: $G-light;
    color: $black;
    float: left;
    width: 350px;
    height: 100%;
    padding: 5px;
    border-right: solid 3px white;
    overflow: scroll;
    ul{
      li {
        background-color: $white;
        padding: 2px 5px;
        margin-bottom: 5px;
        @include clearfix();
        @include skelton_btn();
        #date {
          font-size: 15px;
          float: left;
        }
      }
      #additem {
        display: inline-block;
        text-align: center;
        background-color: $lightgray;
        width: 100%;
        padding: 5px;

      }
    }
  }
}
.main{
  width: calc(100% - 600px);
  height: calc(100vh - 100px);
  padding: 20px;
  float: right;
  .content {
    &__top {
      width: 100%;
      height: 100px;
      width: calc(100% - 10px);
      .headarea{
        width: 100%;
        height: 50px;
        .headbutton {
          float: right;
          @include clearfix();
          &__edit{
            float: left;
            padding-right: 20px;
          }
          &__delete {
            float: left;
          }
        }
        .headdate {
          float: right;
          padding-right: 40px;
        }
      }
      .main-title {
        display: block;
        background-color: $white;
        padding: 5px 30px;
        border-radius: 4px;
      }
    }
    &__bottom{
      border-radius: 4px;
      background-color: $white;
      display: block;
      height: calc(100vh - 270px);
      width: calc(100% - 10px);
      padding: 30px;
      margin-top: 30px;
      overflow: scroll;
    }
  }
}