.header {
  height: 100px;
  width: 100%;
  padding: 10px 20px;
  background-color: $G-dark;
  display: inline-block; 
  vertical-align: middle;
  border-bottom: solid 5px white;
  &__left{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    .logo {
      h1{
        font-size: 50px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      }
      color: $white;
    }
  }
  &__right{
    float:right;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    ul{
      li{
        @include a-button();
        &:hover{
          background: #67c5ff;
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}