a {
  color: #666666;
  text-decoration: none;
}
.tab-btn{
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
}
.active{
  background: #67c5ff;
  color: white;
}

.tabmenu li{
  color: black;
  cursor: pointer;
}
.tabmenu li:hover {
  background: #67c5ff;
  color: white;
}

.contents {
  list-style: none;
}
.tabmenu li{
  list-style: none;
}
.content{
  display: none;
}
.show{
  display: block;
}

/* .tabContents {
  display: none;
}
.tabContents.active {
  display: block;
} */