.header
  .header__left
    .logo
      =image_tag 'terreaslogo.png', alt: 'TERRE-á-S', height: '70px'
    .search
  .header__right
    %ul.buttons
      %li.button__jikan
        = link_to '時間カフェ計算', jikancafe_index_path
